body, html {
    height: 100%;
}
.hiddenLetters {
    display: inline;
}

.wrongGuesses {
    display: inline;
}

.beInline {
    display: inline;
}

.hangmanWords {
    font-family: 'Permanent Marker', cursive;
    color: wheat;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-decoration: black;
}

.subHeading {
    color: wheat;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    text-decoration: black;
    font-weight: bolder;
    text-shadow:1px 1px 10px rgb(15, 99, 201), 1px 1px 10px rgb(142, 142, 142);
}

.leftPanel {
    color: wheat;
    background: rgba(0, 0, 0, 0.8);
}

.bigbg {
    background: url("../images/background2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

/* .smbg {
    background: url("../images/smallbg.jpg");
    display: none;
}

@media and (max-width: 768px;{
    .smbg{
        display: block;
    }

    .bigbg {
        display: none;
    } */

}